@import url('https://fonts.google.com/specimen/Outfit');


* {
    margin: 0;
    padding: 0;
    font-family: outfit;
}
body {
    background-color: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 250px;
    height: 430px;
    /* additional styling for the card */
    border-radius: 5%;
    background-color: hsl(0, 0%, 100%);
  }


  .pic {
    width: auto;
    margin-left: 6%;
    margin-top: 5%;
    height: 220px;
    border-radius: 5%;
  }

  h1 {
    position: relative;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
  }

  p{
    position: relative;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
  }